<!DOCTYPE html>
{% load static %}
<html>

<head>

  <meta charset="utf-8">

  <title>Welcome</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'css/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="{% static 'css/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">
  

  <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >

</head>



<body background>
  

    <h1>HALO, SELAMAT DATANG</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="status">
                    <form action='' method="POST">
                        {% csrf_token %} {{ form }}
                        <div class="centre-items">
                            <input type="submit" class="btn btn-primary" value="Add Status" id="submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for status in status %}
                        <tr>
                            <th>{{status.time}}</th>
                            <td>{{status.status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>